<div class=container>
    <% for filtered_date in @filtered_movie_dates %>
        <div class="row" >
            <h3> <%= filtered_date.to_formatted_s(:long_ordinal)  %> </h3>
        </div>
        <hr>
        <% for movie in @filteredmovies %>
            <% if movie.created_at.to_date == filtered_date then %>
                <%=  render partial: "detail", locals: { movie: movie,
                    filtered_date: filtered_date }  %>
            <% end %>
        <% end %>
    <% end %>
</div>
<%= paginate @filteredmovies %>
