---
http_interactions:
- request:
    method: get
    uri: http://www.omdbapi.com/?apikey=b6c5763c&plot=full&t=star%20wars
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Mon, 29 Oct 2018 18:46:01 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"Title":"Star Wars: Episode IV - A New Hope","Year":"1977","Rated":"PG","Released":"25
        May 1977","Runtime":"121 min","Genre":"Action, Adventure, Fantasy, Sci-Fi","Director":"George
        Lucas","Writer":"George Lucas","Actors":"Mark Hamill, Harrison Ford, Carrie
        Fisher, Peter Cushing","Plot":"The Imperial Forces, under orders from cruel
        Darth Vader, hold Princess Leia hostage in their efforts to quell the rebellion
        against the Galactic Empire. Luke Skywalker and Han Solo, captain of the Millennium
        Falcon, work together with the companionable droid duo R2-D2 and C-3PO to
        rescue the beautiful princess, help the Rebel Alliance and restore freedom
        and justice to the Galaxy.","Language":"English","Country":"USA","Awards":"Won
        6 Oscars. Another 50 wins & 28 nominations.","Poster":"https://m.media-amazon.com/images/M/MV5BNzVlY2MwMjktM2E4OS00Y2Y3LWE3ZjctYzhkZGM3YzA1ZWM2XkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_SX300.jpg","Ratings":[{"Source":"Internet
        Movie Database","Value":"8.6/10"},{"Source":"Rotten Tomatoes","Value":"93%"},{"Source":"Metacritic","Value":"90/100"}],"Metascore":"90","imdbRating":"8.6","imdbVotes":"1,077,767","imdbID":"tt0076759","Type":"movie","DVD":"21
        Sep 2004","BoxOffice":"N/A","Production":"20th Century Fox","Website":"http://www.starwars.com/episode-iv/","Response":"True"}'
  recorded_at: Tue, 30 Oct 2018 11:15:00 GMT
- request:
    method: get
    uri: http://www.omdbapi.com/?apikey=b6c5763c&plot=full&t=Star%20Wars
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Mon, 29 Oct 2018 19:32:15 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"Title":"Star Wars: Episode IV - A New Hope","Year":"1977","Rated":"PG","Released":"25
     [...]
- request:
    method: get
    uri: http://www.omdbapi.com/?apikey=b6c5763c&t=Star%20Wars
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Tue, 30 Oct 2018 11:53:55 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"Title":"Star Wars: Episode IV - A New Hope","Year":"1977","Rated":"PG","Released":"25
        May 197[...]
